<%- include('./header.ejs')  %>
    <div class="formContainer">
        <% if(message.length > 0){ %>
            <div class="alert alert-success">
            <%= message %>
            </div>
            <% } %>
        <form action="/registrationinsert" method="post">
            <h1 class='text-center'>Registration</h1>
              <div class="mb-3">
                  <label class="form-label"><b>Name</b></label>
                  <input type="text" class="form-control" name="name">
          
              </div>
             <div class="mb-3">
                <label class="form-label"><b>Email</b></label>
             <input type="text" class="form-control" name="email" />
             </div>
             <div class="mb-3">
                <label class="form-label"><b>Phone</b></label>
             <input type="number" class="form-control" name="phone" />
             </div>
             <div class="mb-3">
                <label class="form-label"><b>Address</b></label>
             <input type="text" class="form-control" name="address" />
             </div>
             <div class="mb-3">
                <label class="form-label"><b>Password</b></label>
             <input type="password" class="form-control" name="password" />
             </div>
             <div class="mb-3">
                <label class="form-label"><b>Confirm_Password</b></label>
             <input type="password" class="form-control" name="confirm_password" />
             </div>
             <div class='formbtn mt-5'>
                 <button type="submit" class="btn btn-primary w-25"><b>Submit</b></button>
             </div>
        </form>
     </div>
     <%- include('./footer.ejs')  %>